html {
	background-color: #9FB82E;
	padding: 25px 25px;
}
p {
   color: #182600;
}
h2 {
   font-size: 1.9em;
   background-color: #5C840C;
   padding: 10px 10px 10px 10px;
   margin: 0 0 0 50px;
}
body {
padding: 0 25px;
background-image: url(./images/flowers.png);
}
.red1 {
color: red;
}
#blue1 {
color: blue;
font-size: 1.2em;
}
h1 {
	font-family: "Rubik Mono One", monospace;
	font-weight: 400;
	background-image: url();
	padding: 8px 0;
}